
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    background-color: #170d2b;
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
    font-size: 0.8em
    
      
}
.container {
    display: grid;
    padding-top: 3rem;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

.form-container {
    background-color: #600071;
    padding: 20px;
    min-height: 55%;
    color: white
}

.todo-list-container {
    background-color: #fff;
    padding: 20px;
    min-height: 80%;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    background-color: #008000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.todo-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.todo-card {
    background-color: #007a76;
    padding: 20px;
    color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.todo-card h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.todo-card p {
    margin-bottom: 20px
}

.todo-card .status {
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.todo-card .status.completed {
    background-color: #008000;
}

.todo-card .status.in-progress {
    background-color: #ffa500;
}

.todo-card .status.not-started {
    background-color: #321616;
}
.modal {
  position: fixed;
  display: none;
  top: 10%;
  left: 40%;
  padding: 1rem;
  min-width: 40%;
  min-height: 50%;
  color: black;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
  z-index: 1
}
.close-modal{
  float:right;
  cursor:pointer;
  margin-top:-1rem;
  font-size: 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: #333;
    position: fixed;
    width: 100%
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
  }
  
  .logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1rem;
    transition: all 0.3s ease;
  }
  
  .nav-menu li a:hover {
    color: #f8f8f8;
  }
  
  .active {
    color: #f8f8f8;
  }
  
  .container_home {
    margin-top: 3rem;
    min-width: 100vh;
    padding: 0 1rem;
    color: white
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  
  .toggle {
    width: 30px;
    height: 30px;
    background-color: #333;
    position: relative;
    cursor: pointer;
    }
    
    .toggle::before, .toggle::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    }
    
    .toggle::before {
    top: 8px;
    }
    
    .toggle::after {
    top: 18px;
    }
    
    .menu-active .toggle::before {
    transform: rotate(45deg);
    top: 15px;
    }
    
    .menu-active .toggle::after {
    transform: rotate(-45deg);
    top: 15px;
    }
    
    .menu-active .toggle {
    background-color: transparent;
    }
    
    .menu-active .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #333;
    opacity: 0.9;
    }
    
    .menu-active .nav-menu li {
    margin: 1rem 0;
    }
    
    .menu-active .nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 0;
    transition: all 0.3s ease;
    }
    
    .menu-active .nav-menu li a:hover {
    color: #f8f8f8;
    }
@media screen and (max-width: 767px) {
    .container {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
    }
  
    .form-container {
      margin-bottom: 20px;
    }
  
    .todo-list-container {
      margin-top: 20px;
    }
  
    .todo-list {
      grid-template-columns: 1fr;
    }
  
    .todo-card {
      margin-bottom: 20px;
    }
  }