{% extends "layouts/layout.html" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
<div class="container_home">
    <h1>Bienvenue sur ma page d'accueil !</h1>
    <p>Flask est un framework web léger et flexible pour Python. Il permet de créer des applications web rapidement et facilement, en utilisant des templates pour générer des pages HTML dynamiques et en interagissant avec des bases de données pour stocker et récupérer des données.</p>
    <p>Les APIs (interfaces de programmation d'applications) permettent aux développeurs de créer des services web qui peuvent être utilisés par d'autres applications, en fournissant un ensemble de fonctions ou de méthodes que les développeurs peuvent appeler à distance. Avec Flask, il est facile de créer des APIs pour fournir des données à d'autres applications, en utilisant des formats tels que JSON ou XML.</p>
</div>
{% endblock %}